.App {
    text-align: center;
    padding: 20px;
}

div {
    padding: 10px;
}

 table, tr, td {
     border: 1px solid black;
     border-collapse: collapse;
     margin: 0 auto;
 }

 #zadanie {
     border: 1px solid black;
 }